@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

:root {
	/* DARK-bg-primary / Tailwind: zinc-900 */
	--DARK-bg-primary: #18181b;
	/* DARK-text-primary / Tailwind: zinc-100 */
	--DARK-text-primary: #f4f4f5;
}

html {
	height: -webkit-fill-available;
}

html,
body,
div #_next,
main {
	background-color: var(--DARK-bg-primary);
	color: var(--DARK-text-primary);
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

.hidden-normal {
	display: none;
}
